@media print {

    .no-print,
    .no-print * {
        display: none !important;
    }
}


.navbar-dark,
.sidebar-dark {
    background-color: #023952;
}

/* .navbar-supervision,
.sidebar-supervision {
    background-color: #023952;
} */

.full-page-height {
    min-height: 100vh;
}